<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pratham.foundation">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/fc_logo"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fc_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.selectSubject.SelectSubject_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.splash_activity.SplashActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.admin_panel.AdminControlsActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bottom_fragment.add_student.MenuActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.qr_scan.QRScanActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin_panel.assign_groups.Activity_AssignGroups_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin_panel.group_selection.SelectGroupActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home_screen.HomeActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home_screen.display_content.ContentDisplay_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin_panel.fragment_admin_panel.PushOrAssign.PushDataActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.ContentPlayerActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.old_cos.reading_cards.ReadingCardsActivity_"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.test.supervisor.SupervisedAssessmentActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" />
        <activity
            android:name=".ui.student_profile.Student_profile_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.web_view.WebViewActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.contentPlayer.old_cos.conversation.ConversationActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.reading_activity.ReadingStoryActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.reading_paragraphs.ReadingParagraphsActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.vocabulary_qa.ReadingVocabularyActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.reading_rhyming.ReadingRhymesActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.opposites.OppositesActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.matchingPairGame.MatchThePairGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentPlayer.video_view.ActivityVideoView_"
            android:screenOrientation="sensorLandscape" />
        <service
            android:name=".services.AppExitService"
            android:enabled="true"
            android:stopWithTask="false" />
    </application>
</manifest>