<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pratham.foundation">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/fc_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/fc_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.splash_activity.SplashActivity_"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyLaunchActivityTheme"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.background_service.BackgroundPushService"
            android:enabled="true"/>

        <receiver
            android:name=".services.background_service.BackgroundServiceRestarter"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="BackgroundServiceRestarter" />
            </intent-filter>
        </receiver>
        <!--
                <activity
                    android:name="android.speech.RecognitionService"/>
        -->
        <activity
            android:name=".ui.contentPlayer.webviewpdf.PDFViewActivity_"
            android:screenOrientation="sensor" />
        <activity
            android:name=".ui.contentPlayer.image_resource.DisplayImageActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.selectSubject.testPDF.ShowTestPDF_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.pictionary.PictionaryResult"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.app_home.profile_new.show_sync_log.ShowSyncLogActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.selectSubject.SelectSubject_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.admin_panel.enrollmentid.AddEnrollmentId_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.app_home.profile_new.course_enrollment.CourseEnrollmentActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.admin_panel.tab_usage.TabUsageActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.pdf_display.Fragment_PdfViewer_"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.admin_panel.AdminConsoleActivityNew_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.app_home.HomeActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.app_home.profile_new.display_image_ques_list.DisplayImageQuesActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.app_home.display_content.ContentDisplay_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.app_home.profile_new.chat_display_list.DisplayChatActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.app_home.profile_new.show_image_question.ShowImgQuestionActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.ContentPlayerActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.old_cos.reading_cards.ReadingCardsActivity_"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".customView.display_image_dialog.Activity_DisplayImage_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.web_view.WebViewActivity_"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.contentPlayer.old_cos.conversation.ConversationActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.reading_story_activity.ReadingStoryActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.reading_paragraphs.ReadingParagraphsActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.vocabulary_qa.ReadingVocabularyActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.reading_rhyming.ReadingRhymesActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.opposites.OppositesActivity_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.contentPlayer.matchingPairGame.MatchThePairGameActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.contentPlayer.video_view.ActivityVideoView_"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.contentPlayer.video_player.ActivityVideoPlayer_"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.contentPlayer.doing.FullScreenVideo_"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".utility.CatchoTransparentActivity"
            android:parentActivityName=".BaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".customView.ProcessPhoenix"
            android:process=":phoenix"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".utility.SplashSupportActivity" />
        <activity android:name=".ui.splash_activity.SplashActivity" />

        <service
            android:name=".services.AppExitService"
            android:enabled="true"
            android:stopWithTask="false" />

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            tools:ignore="Instantiatable" />

        <service
            android:name=".services.stt.ContinuousSpeechService_New"
            android:enabled="true"
            tools:ignore="Instantiatable" />

        <receiver
            android:name=".services.OTGListener"
            android:enabled="true"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

<!--    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ManifestOrder" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
<!--    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />-->

</manifest>